    <style>
        body {
            font-family: Arial, sans-serif;
            /*background-color: #f4f4f4;*/
            background-color: #575757;
			color: #333;
            margin: 0;
            padding: 20px;
        }
        h1 {
            color: #d62728;
        }
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%;
		}	
		/* form {
			display: grid;
			place-items: center;
		} */
        .container {
            max-width: 800px;
            margin: 0 auto;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
		.menu {
			display: flex;
			background-color: #333; 
		}
		.menu a { 
			padding: 14px 20px;
			text-decoration: none;
			color: white;
			text-align: center;
		}		
		.menu a:hover {
			background-color: #575757;
		} 
		.myButton {
			box-shadow: 0px 0px 0px 2px #3dc21b;
			background-color:#d41e24;
			border-radius:10px;
			border:1px solid #18ab29;
			display:inline-block;
			cursor:pointer;
			color:#ffffff;
			font-family:Arial;
			font-size:19px;
			font-weight:bold;
			padding:8px 44px;
			text-decoration:none;
			text-shadow:0px 1px 0px #2f6627;
		}
		.myButton:hover {
			background-color:#f7ec21;
		}
		.myButton:active {
			position:relative;
			top:1px;
		}
	</style>